
#comments .solved,
#forum-comments .solved .forum-post-panel-main
{
  background-color: #8DD059;
}

.forum-topic-title.solved,
.top-post.solved .forum-post-title
{
  background: url(flag_solved.png) no-repeat scroll 0px transparent;
  padding-left: 20px;
}
